*{box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: right;
  height: 100vh;
  width: 100%;
}


.calc {
  display: grid;
  grid-template-areas: 
    "C C DEL /"
    "7 8 9 *"
    "4 5 6 -"
    "1 2 3 +"
    "zero zero zero = "; 
    height: 400px;
    width: 400px;
    text-align: right;
  
}

.calc-row-1 {
  background-color: black;
  color: white;
  display: flex;
  align-content: stretch;
  width: 98%

}

.calc-row-2, .calc-row-3, .calc-row-4, .calc-row-5, .calc-row-6 {
 display: flex;
 align-content: stretch;
 width: 100%;}

.result {
  color: white;
  text-align: right;
  font: monospace, Courier;
  font-size: 32px;
  padding: 20px;
  height: 100px;
}

.key {
 
  font-size: 40px;
  background-color: #d8d9db;
  cursor: pointer;
  font: monospace, Courier;
  height: 100px;
  width: 24.5%;

}

.C {
  grid-template-columns: 2fr 1fr 1fr;
}
.zero {
  grid-template-columns: 3fr 1fr; }



  .C-grey {
    grid-area: C;
    width: 95%;
    background-color: #d8d9db;
    font-size: 40px;
    font: monospace, Courier;
  }

  .key:last-child {
  background-color: #dd8d37;
  color: white;
}
 .key:hover {
  background-color: #ebebeb;
 }

 .key:active {
  background-color: #bbbcbe;
}
.big {
  width: 49%;
}

.bigger{
  width: 73.5%;
}